<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Logistic Regression Algorithm Edit data</title>
    </head>
    <body>
        <form action="/logistic_update/{{logistic.logisticid}}" method="POST">
            
    
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Enter your Age: </label>
                <input name="age" value="{{logistic.age}}" required="1">
            </div>

            <br>
            <br>
            
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Enter the Expected Salary: </label>
                <input name="expected_salary" value="{{logistic.expected_salary}}" required="1">
            </div>

            <br>
            <br>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                Update
                </button>
            </div>

        </form>

        <br>
        <br>

        <a href="{{url_for('logistic_algo.logistic') }}">Go back to Logistic Regression page</a> | <a href="/">Home page</a>  |  <a href="{{url_for('logistic_algo.logistic_layout') }}">Go back to Logistic Regression past data page</a>
            
    </body>
</html>