<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Multi Linear - Car Price Predictor</title>

    </head>

    <body>
        <h1>Multi Linear</h1>

        <form action="{{url_for('mLinear.multi_linear')}}" method="POST">
            
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Select the company: </label>
                <!-- <input name="company"> -->
                <select class="selectpicker form-control" id="company" name="company" required="1"
                        onchange="load_car_models(this.id,'car_models')">
                    {% for company in companies %}
                        <option value="{{ company }}">{{ company }}</option>
                    {% endfor %}
                </select>
            </div>

            <br>
            <br>
            
            <!-- <div class="col-md-10 form-group">
                <label><b>Select the model:</b> </label><br>
                <select class="selectpicker form-control" id="car_models" name="car_models" required="1">
                </select>
            </div> -->

            


            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Select the model: </label>
                <select class="selectpicker form-control" id="car_models" name="car_models" required="1" >
                    {% for car_model in car_models %}
                        <option value="{{ car_model }}">{{ car_model }}</option>
                    {% endfor %}
                </select>
            </div>

            <br>
            <br>

            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Select Year of Purchase: </label>
                <!-- <input name="year"> -->
                <select class="selectpicker form-control" id="year" name="year" required="1">
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

            <br>
            <br>

            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Select the Fuel Type: </label>
                <!-- <input name="fuel_type"> -->
                <select class="selectpicker form-control" id="fuel_type" name="fuel_type" required="1">
                    {% for fuel in fuel_types %}
                    <option value="{{ fuel }}">{{ fuel }}</option>
                    {% endfor %}
                </select>
            </div>

            <br>
            <br>

            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Enter the Number of Kilometres that the car has travelled: </label>
                <input type="text" name="kilo_driven" required="1">
            </div>

            <br>
            <br>

            <input type="submit">

        </form>
       
        <br>
        <br>
       
        <a href="/">Go back to Home page</a>  |  <a href="{{url_for('mLinear.multi_linear_layout') }}">Click Here for view past entries</a>

    <script>
        function load_car_models(company_id,car_model_id)
        {
            var company=document.getElementById(company_id);
            var car_model= document.getElementById(car_model_id);
            console.log(company.value);
            car_model.value="";
            car_model.innerHTML="";
            {% for company in companies %}
            if( company.value == "{{ company }}")
            {
                {% for model in car_models %}
                    {% if company in model %}

                        var newOption= document.createElement("option");
                        newOption.value="{{ model }}";
                        newOption.innerHTML="{{ model }}";
                        car_model.options.add(newOption);
                        
                    {% endif %}
                {% endfor %}
            }
        {% endfor %}
        }
    </script>


    </body>
</html>