<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Hierarchical Clustering</title>

    </head>

    <body>
        <h1>Hierarchical Clustering Predicted Value</h1>

        <form action="/hierarchical_predict/{{hierarchical.hierarchicalid}}" method="POST">
            
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>You have entered total Fresh Products: </label>
                <input name="fresh" type = "number" value="{{hierarchical.fresh}}" min="0" readonly="1">
            </div>

            <br>
            <br>
            
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>You have entered total Milk Products: </label>
                <input name="milk" type = "number" value="{{hierarchical.milk}}" min="0" readonly="1">
            </div>

            <br>
            <br>
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>You have entered total Grocery Products: </label>
                <input name="grocery" type = "number" value="{{hierarchical.grocery}}" min="0" readonly="1">
            </div>

            <br>
            <br>
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>You have entered total Frozen Products: </label>
                <input name="frozen" type = "number" value="{{hierarchical.frozen}}" min="0" readonly="1">
            </div>

            <br>
            <br>
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>You have entered total Detergent Paper Products: </label>
                <input name="" type = "number" value="{{hierarchical.paper}}" min="0" readonly="1">
            </div>

            <br>
            <br>
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>You have entered total Delicassen Products: </label>
                <input name="delicassen" type = "number" value="{{hierarchical.delicassen}}" min="0" readonly="1">
            </div>

            <br>
            <br>

            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>This shop type is: </label>
                <input name="predicted_value" value="{{hierarchical.predicted_value}}" readonly="1">
            </div>

        </form>

        <br>
        <br>

        <a href="{{url_for('hierarchical_algo.hierarchical') }}">Go back to Hierarchical Clustering page</a>  |  <a href="/">Home page</a>  |  <a href="{{url_for('hierarchical_algo.hierarchical_layout') }}">Click Here for view past entries</a>

    </body>
</html>



