<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Naive Bayes Algorithm Edit data</title>
    </head>
    <body>

        <form action="/naive_update/{{naive_bayes_data.naiveid}}" method="POST">
    
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>You have Entered this message: </label>
                <input type="text" name="message" value="{{naive_bayes_data.message}}" class="form-control" required="1">
            </div>

            <br>
            <br>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                Update
                </button>
            </div>

        </form>
        
        <br>
        <br>

        <a href="{{ url_for('naive_bayes_algo.naive_bayes') }}">Go back to Naive Bayes page</a>  |  <a href="/">Home page</a>  |  <a href="{{url_for('naive_bayes_algo.naive_layout') }}">Go back to Naive Bayes past data page</a>
            
    </body>
</html>