<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Multi Linear - Car Price Predictor</title>

    </head>

    <body>
        <h1>Your car Predicted Price</h1>

        <form action="/naive_bayes/{{naive_bayes.Naiveid}}" method="POST">

            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>Enter your message to check Spam or not: </label>
                <input name="message" value="{{naive_bayes.message}}" readonly="1">
            </div>

            <br>
            <br>
            
            <div class="col-md-10 form-group" style="text-align: center"></div>
                <label>This message was: </label>

                {% if naive_bayes.predict == 1 %}
                    <input name="predict" value="SPAM" readonly="1">
                {% else %}
                    <input name="predict" value="HAM" readonly="1">
                {% endif %}

            </div>
            
        </form> 

        <br>
        <br>

        <a href="{{url_for('naive_bayes_algo.naive_bayes') }}">Go back to Naive Bayes page</a>  |  <a href="/">Home page</a>  |  <a href="{{url_for('naive_bayes_algo.naive_layout') }}">Click Here for view past entries</a>
    </body>
</html>



