<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simple Linear Algorithm Edit data</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
        
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    </head>
    <body>
        <div class="row">
            
            <div class="card card-body">
                <form action="/simple_Linear_update/{{sLinear.simpleid}}" method="POST">
    
                    <div class="form-group">
                        <input type="text" name="txt_numbers" value="{{sLinear.txt_numbers}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                        Update
                        </button>
                    </div>
                </form>
            
            </div>
        </div>

        <br>
        <br>

        <a href="{{url_for('simple_linear') }}">Go back to Simple linear page</a>  |  <a href="/">Home page</a>  |  <a href="{{url_for('simple_linear_layout') }}">Go back to Simple linear past data page</a>
    </body>
</html>